<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928741701529-dtvq21uprbjf797m4sefv384akvff979.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928741701529-dtvq21uprbjf797m4sefv384akvff979</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>928741701529-qetg15v2u16829oleslpkcta220o8og1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOTo-XkQYgMRPcr-AjWc-op7vQ1hYWpA4</string>
	<key>GCM_SENDER_ID</key>
	<string>928741701529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demarily.memphisbjj</string>
	<key>PROJECT_ID</key>
	<string>memphis-bjj</string>
	<key>STORAGE_BUCKET</key>
	<string>memphis-bjj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928741701529:ios:18e23e3a36f4eb5c</string>
	<key>DATABASE_URL</key>
	<string>https://memphis-bjj.firebaseio.com</string>
</dict>
</plist>